[Desktop Entry]
Version=1.0
Name=GAMEFRAG Core
Comment=GAMEFRAG P2P Cryptocurrency
Comment[fr]=GAMEFRAG, monnaie virtuelle cryptographique pair à pair
Comment[tr]=GAMEFRAG, eşten eşe kriptografik sanal para birimi
Exec=gamefrag-qt %u
Terminal=false
Type=Application
Icon=gamefrag128
MimeType=x-scheme-handler/gamefrag;
Categories=Office;Finance;
StartupWMClass=Gamefrag-qt
