
## <summary>policy for gamefrag</summary>


########################################
## <summary>
##	Transition to gamefrag.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`gamefrag_domtrans',`
	gen_require(`
		type gamefrag_t, gamefrag_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, gamefrag_exec_t, gamefrag_t)
')


########################################
## <summary>
##	Execute gamefrag server in the gamefrag domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gamefrag_initrc_domtrans',`
	gen_require(`
		type gamefrag_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, gamefrag_initrc_exec_t)
')


########################################
## <summary>
##	Search gamefrag lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gamefrag_search_lib',`
	gen_require(`
		type gamefrag_var_lib_t;
	')

	allow $1 gamefrag_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read gamefrag lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gamefrag_read_lib_files',`
	gen_require(`
		type gamefrag_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, gamefrag_var_lib_t, gamefrag_var_lib_t)
')

########################################
## <summary>
##	Manage gamefrag lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gamefrag_manage_lib_files',`
	gen_require(`
		type gamefrag_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, gamefrag_var_lib_t, gamefrag_var_lib_t)
')

########################################
## <summary>
##	Manage gamefrag lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gamefrag_manage_lib_dirs',`
	gen_require(`
		type gamefrag_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, gamefrag_var_lib_t, gamefrag_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a gamefrag environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`gamefrag_admin',`
	gen_require(`
		type gamefrag_t;
		type gamefrag_initrc_exec_t;
		type gamefrag_var_lib_t;
	')

	allow $1 gamefrag_t:process { ptrace signal_perms };
	ps_process_pattern($1, gamefrag_t)

	gamefrag_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 gamefrag_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, gamefrag_var_lib_t)

')

